/*|| TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*|| BASE VALUES */
:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);
    --main-heading: calc(var(--body-copy)*4);
    --main-heading-line-height: calc(var(--main-heading));
    --quote: calc(var(--body-copy)*1.2);
    --quote-spacing: calc(var(--quote)*1.2);
    --sub-heading: calc(var(--body-copy)*2.5);
    --sub-heading-line-height: calc(var(--sub-heading));
    --title: calc(var(--body-copy)*1.2);
    --title-line-height: calc(var(--title)*1.2);
    --page-spacing:24px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size-adjust: none;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Public Sans', serif;;
    height: 100vh;
    touch-action: manipulation;
    overflow: auto;
    background-color: #322e2f;
    color: white;
    font-family: 'Public Sans', sans-serif;
    font-weight: 200;
    margin: auto;
    padding: auto;
    width: 80vw;
}

li {
    display: inline-block;
    vertical-align: top;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*|| TOP NAVIGATION */
.navigation{
    margin-top: 5vh;
    font-weight: 300;
}

.navigation-description span{
    opacity: .5;
}


/*|| LINE */
.line{
    border-top: 1px dashed;
    margin-top: var(--page-spacing);
    margin-bottom: 40px;
}

/*|| TITLE */

.page{
    display: flex;
    position: relative;
    opacity: 0;
}

.page__ready{
    transition: opacity 0.8s ease;
    opacity: 1;
}

.page-intro {
    display: flex;
    position: relative;
    z-index: 0;
}

.page-intro-content {
    display: flex;
    position: relative;
    flex-direction: row;
}

.headline-content-section {
    opacity: .05;
}

.page__ready .headline-content-section {
    transition: opacity 0.5s ease;
}

.headline-content-section__active {
    opacity: 1;
}

h1{
    font-size: var(--main-heading);
    line-height: var(--main-heading-line-height);
}

/*|| BODY TEXT */
.page-content .content {
    position: relative;
    z-index: 1;
}

.page-content .content ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.headline {
    pointer-events: none;
    z-index: 1;
}

.headline-content-section {
    opacity: 0.3;
}

.page__ready .headline-content-section .headline-subcontent-section {
    transition: opacity 0.5s ease;
}


.headline-content-section__active {
    color: black;
    opacity: 1;
}

.headline-content-section .group {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    transform-origin: 0 0;
    overflow: hidden;
}

/*|| CONTENT PARAGRAPH */
    .takeaway{
        width: 80%;
        line-height: var(--body-copy-line-height);
    }

    .takeaway p {
        font-size: var(--body-copy);
        line-height: var(--body-copy-line-height);
    }

    h3{
        font-size: var(--sub-heading);
        line-height: var(--sub-heading-line-height);
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h4{
        font-size: var(--title);
        line-height: var(--title-line-height);
        font-weight: 700;
        margin-bottom: 20px;
    }

    h5{
        font-size: var(--body-copy);
        line-height: var(--body-copy-line-height);
        font-weight: 700;
        margin-bottom: 5px;
    }

    li{
        margin-bottom: 20px;
    }

/*|| AUTHOR SUMMARY */
    .about{
        overflow: hidden;
        margin-bottom: 50px;
    }

    .quote{
        font-size: var(--quote);
        font-weight: 700;
        padding-bottom: 10px;
    }

    .spacing{
        padding-bottom: 50px;
    }

/*|| BOTTOM NAVIGATION */
    .mobile-nav {
        background-color: #322e2f;
        position: fixed;
        bottom: 0;
        height: 65px;
        display: flex;
        justify-content: space-evenly;
        z-index: 9999;
        left: 0;
        right: 0;
        padding-top: 5px;
    }

    .bloc-icon {
        display: flex;
        width: 50px;
        height: 50px;
        background-color: #322e2f;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-weight: 500;

    }

    .inclusion{
        background-color: #4203c9;
    }

    .aged{
      background-color: #FF6A49;  
    }

    .color{
        background-color: #e2d810;
    }

/*|| BOTTOM NAVIGATION FOR LARGER SCREENS */
    @media screen and (min-width: 600px) {
    .mobile-nav {
    display: none;
    }
    }