:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);
    --main-heading: calc(var(--body-copy)*4);
    --main-heading-line-height: calc(var(--main-heading));
}
body{
    background-color: #ED7054;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    font-size: var(--body-copy);
}
h1{
    display: block;
    font-size: var(--main-heading);
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: aqua;
    display: flex;
    overflow-x: auto;
}
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    background-color: black;
    color: white;
    border-radius: 100%;
    transition: background-color 0.1s ease-in-out;
}
.nav_link:hover {
    background-color: white;
    color: black;
}