:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);
    --main-heading: 10vw;
    --main-heading-line-height: calc(var(--main-heading));
}
body{
    background-color: #E6D864;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
}